html {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(94, 94, 255, 1) 100%, rgba(0, 212, 255, 1) 100%);
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
}
body {
  text-align: center;
}
span{
  color: #FFA24C;
}
div{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
img{
  border-radius: 15px;
  box-shadow: 15px 15px 15px #000;
}